bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/test.deps.json
bin/Debug/net6.0/test.dll
bin/Debug/net6.0/test.exe
bin/Debug/net6.0/test.pdb
bin/Debug/net6.0/test.runtimeconfig.json
bin/Debug/net6.0/test.staticwebassets.runtime.json
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/test.csproj.nuget.dgspec.json
obj/test.csproj.nuget.g.props
obj/test.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/test.AssemblyInfo.cs
obj/Debug/net6.0/test.AssemblyInfoInputs.cache
obj/Debug/net6.0/test.assets.cache
obj/Debug/net6.0/test.csproj.AssemblyReference.cache
obj/Debug/net6.0/test.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/test.csproj.FileListAbsolute.txt
obj/Debug/net6.0/test.dll
obj/Debug/net6.0/test.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/test.genruntimeconfig.cache
obj/Debug/net6.0/test.GlobalUsings.g.cs
obj/Debug/net6.0/test.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/test.pdb
obj/Debug/net6.0/test.RazorAssemblyInfo.cache
obj/Debug/net6.0/test.RazorAssemblyInfo.cs
obj/Debug/net6.0/ref/test.dll
obj/Debug/net6.0/refint/test.dll
obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net6.0/scopedcss/bundle/test.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/test.bundle.scp.css
Properties/launchSettings.json
wwwroot/lib/bootstrap/LICENSE
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.css
wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.js
wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
wwwroot/lib/jquery/LICENSE.txt
wwwroot/lib/jquery/dist/jquery.js
wwwroot/lib/jquery/dist/jquery.min.js
wwwroot/lib/jquery/dist/jquery.min.map
wwwroot/lib/jquery-validation/LICENSE.md
wwwroot/lib/jquery-validation/dist/additional-methods.js
wwwroot/lib/jquery-validation/dist/additional-methods.min.js
wwwroot/lib/jquery-validation/dist/jquery.validate.js
wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
bin/Debug/net6.0/Azure.Core.dll
bin/Debug/net6.0/Azure.Identity.dll
bin/Debug/net6.0/Humanizer.dll
bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/Microsoft.Identity.Client.dll
bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net6.0/Microsoft.SqlServer.Server.dll
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/Mono.TextTemplating.dll
bin/Debug/net6.0/System.CodeDom.dll
bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net6.0/System.Memory.Data.dll
bin/Debug/net6.0/System.Runtime.Caching.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.Text.Encodings.Web.dll
bin/Debug/net6.0/System.Text.Json.dll
bin/Debug/net6.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
obj/Debug/net6.0/test.csproj.CopyComplete
